<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzu.diting.mapper.OtherRightInfoMapper">
    <resultMap id="ReputationPortraitInfo" type="com.zzu.diting.entity.OtherRightInfoPO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <id column="USER_ID" property="userId" jdbcType="BIGINT"/>
        <id column="COPYRIGHT_TYPE" property="copyrightType" jdbcType="VARCHAR"/>
        <id column="COPYRIGHT_NAME" property="copyrightName" jdbcType="VARCHAR"/>
        <id column="COUNTRY" property="country" jdbcType="VARCHAR"/>
        <id column="PROVINCE" property="province" jdbcType="VARCHAR"/>
        <id column="INTELLCTUAL_PROPERTY_CERTIFICATES_URL" property="intellctualPropertyCertificatesUrl"
            jdbcType="VARCHAR"/>
        <id column="IS_RIGHT_ENTRUSTED" property="isRightEntrusted" jdbcType="VARCHAR"/>
        <id column="ATTORNEY_ATTRIBUTE" property="attorneyAttribute" jdbcType="VARCHAR"/>
        <id column="ENTRUSTED_PROTECTION_STARTDATE" property="entrustedProtectionStartdate" jdbcType="DATE"/>
        <id column="ENTRUSTED_PROTECTION_ENDDATE" property="entrustedProtectionEnddate" jdbcType="DATE"/>
        <id column="ATTORNEY_POWER_URL" property="attorneyPowerUrl" jdbcType="VARCHAR"/>
        <id column="AUDIT_STATUS" property="auditStatus" jdbcType="VARCHAR"/>
        <id column="GMT_CREATE" property="updateTime" jdbcType="BIGINT"/>
        <id column="GMT_MODIFIED" property="createTime" jdbcType="BIGINT"/>
    </resultMap>

    <select id="queryTotalNumberOtherRightInfoAll" resultType="java.lang.Integer">
        select count(*)
        from
            other_right_info
    </select>

    <select id="queryOtherRightInfoAll" resultMap="ReputationPortraitInfo">
        select *
        from
            other_right_info
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberOtherRightInfoByCopyrightName" resultType="java.lang.Integer">
        select count(*)
        from
            other_right_info
        where copyright_name like "%"#{copyrightName}"%"
    </select>

    <select id="queryOtherRightInfoByCopyrightName" resultMap="ReputationPortraitInfo">
        select *
        from
            other_right_info
        where copyright_name like "%"#{copyrightName}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberOtherRightInfoByTime" resultType="java.lang.Integer">
        select count(*)
        from
            other_right_info
        where ${timeType} &gt; #{startTime}
          and ${timeType} &lt;{endTime}
    </select>

    <select id="queryOtherRightInfoByTime" resultMap="ReputationPortraitInfo">
        select *
        from
            other_right_info
        where ${timeType} &gt; #{startTime}
          and ${timeType} &lt;{endTime}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberOtherRightInfoByUserId" resultType="java.lang.Integer">
        select count(*)
        from
            other_right_info
        where user_id = #{userId}
    </select>

    <select id="queryOtherRightInfoByUserId" resultMap="ReputationPortraitInfo">
        select *
        from
            other_right_info
        where user_id = #{userId}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryOtherRightInfoOfNameAndId" resultMap="ReputationPortraitInfo">
        select copyright_name,id
        from
            other_right_info
        where copyright_name like "%"#{name}"%"
    </select>
</mapper>