<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzu.diting.mapper.AuthenticationWorkInfoMapper">
    <resultMap id="authenticationWork" type="com.zzu.diting.entity.AuthenticationWorkInfoPO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="ORDER_TYPE" property="orderType"/>
        <result column="AUDITOR_ID" property="auditorId" jdbcType="BIGINT"/>
        <result column="USER_ID" property="userId" jdbcType="BIGINT"/>
        <result column="NICKNAME" property="nickname" jdbcType="VARCHAR"/>
        <result column="REAL_NAME" property="realName" jdbcType="VARCHAR"/>
        <result column="USER_TYPE" property="userType" jdbcType="VARCHAR"/>
        <result column="HANDLE_PERSON" property="handlePerson" jdbcType="VARCHAR"/>
        <result column="AUDIT_STATE" property="auditState" jdbcType="VARCHAR"/>
        <result column="GMT_CREATE" property="createTime" jdbcType="BIGINT"/>
        <result column="GMT_MODIFIED" property="updateTime" jdbcType="BIGINT"/>
        <result column="REASON" property="reason" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="authenticationWorkInfo">
        ID
        ,
        ORDER_TYPE,
        USER_ID,
        NICKNAME,
        REAL_NAME,
        HANDLE_PERSON,
        USER_TYPE,
        AUDIT_STATE,
        GMT_CREATE,
        GMT_MODIFIED,
        REASON
    </sql>

    <select id="queryTotalNumberForAllWorksAndAllAuditState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
    </select>

    <select id="queryAllWorksAndAllAuditState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksAndAuditState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where audit_state = #{auditState}
    </select>

    <select id="queryAllWorksAndAuditState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where audit_state=#{auditState}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByOrderTypeAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where order_type = #{orderType}
    </select>

    <select id="queryAllWorksByOrderTypeAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where order_type=#{orderType}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByOrderTypeAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where order_type = #{orderType}
          and audit_state = #{state}
    </select>
    <select id="queryAllWorksByOrderTypeAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where order_type=#{orderType}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorkByNicknameAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where nickname like "%"#{nickname}"%"
    </select>
    <select id="queryAllWorkByNicknameAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where nickname like "%"#{nickname}"%"
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorkByNicknameAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where nickname like "%"#{nickname}"%"
            and audit_state=#{state}
    </select>
    <select id="queryAllWorkByNicknameAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where nickname like "%"#{nickname}"%"
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByRealNameAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where real_name like "%"#{realName}"%"
    </select>
    <select id="queryAllWorksByRealNameAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where real_name like "%"#{realName}"%"
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByRealNameAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where real_name like "%"#{realName}"%"
            and audit_state=#{state}
    </select>

    <select id="queryAllWorksByRealNameAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where real_name like "%"#{realName}"%"
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByUserTypeAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where user_type = #{userType}
    </select>
    <select id="queryAllWorksByUserTypeAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where user_type=#{userType}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByUserTypeAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where user_type = #{userType}
          and audit_state = #{state}
    </select>
    <select id="queryAllWorksByUserTypeAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where user_type=#{userType}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByUserIdAndStateAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where user_id like #{userId}
    </select>
    <select id="queryAllWorksByUserIdAndStateAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where user_id like #{userId}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByUserIdAndStateAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where user_id like #{userId}
          and audit_state = #{state}
    </select>
    <select id="queryAllWorksByUserIdAndStateAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where user_id like #{userId}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByHandlePersonAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where handle_person like "%"#{handlePerson}"%"
    </select>
    <select id="queryAllWorksByHandlePersonAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where handle_person like "%"#{handlePerson}"%"
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByHandlePersonAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where handle_person like "%"#{handlePerson}"%"
            and audit_state=#{state}
    </select>
    <select id="queryAllWorksByHandlePersonAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where handle_person like "%"#{handlePerson}"%"
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByTimeAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where ${timeType} &gt; #{t1}
          and ${timeType} &lt; #{t2}
    </select>
    <select id="queryAllWorksByTimeAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where ${timeType} &gt;#{t1} and ${timeType} &lt;#{t2}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByTimeAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where ${timeType} &gt; #{t1}
          and ${timeType} &lt; #{t2}
          and audit_state = #{state}
    </select>
    <select id="queryAllWorksByTimeAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where ${timeType} &gt;#{t1} and ${timeType} &lt;#{t2}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForAllWorksByMIdAndPendingDisposalAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and audit_state = #{state}
    </select>
    <select id="queryAllWorksByMIdAndPendingDisposalAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryWorksByMIdAndPendingDisposalAndWorkIdAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and id=#{workId}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndPendingDisposalAndOrderTypeAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and order_type = #{orderType}
          and audit_state = #{state}
    </select>
    <select id="queryWorksByMIdAndPendingDisposalAndOrderTypeAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and order_type=#{orderType}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndPendingDisposalAndUserIdAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and user_id = #{userId}
          and audit_state = #{state}
    </select>
    <select id="queryWorksByMIdAndPendingDisposalAndUserIdAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and user_id=#{userId}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndPendingDisposalAndNicknameAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and nickname like "%"#{nickname}"%"
          and audit_state=#{state}
    </select>
    <select id="queryWorksByMIdAndPendingDisposalAndNicknameAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and nickname like "%"#{nickname}"%"
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndPendingDisposalAndRealNameAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and real_name like "%"#{realName}"%"
          and audit_state=#{state}
    </select>
    <select id="queryWorksByMIdAndPendingDisposalAndRealNameAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and real_name like "%"#{realName}"%"
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="    queryTotalNumberForWorksByMIdAndPendingDisposalAndUserTypeAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and user_type = #{userType}
          and audit_state = #{state}
    </select>
    <select id="queryWorksByMIdAndPendingDisposalAndUserTypeAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and user_type =#{userType}
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndPendingDisposalAndHandlePersonAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and handle_person like "%"#{handlePerson}"%"
          and audit_state=#{state}
    </select>
    <select id="queryWorksByMIdAndPendingDisposalAndHandlePersonAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and handle_person like "%"#{handlePerson}"%"
        and audit_state=#{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberWorksByMIdAndPendingDisposalAndTimeAndState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and ${timeType} &gt; #{t1}
          and ${timeType} &lt; #{t2}
          and audit_state = #{state}
    </select>

    <select id="queryWorksByMIdAndPendingDisposalAndTimeAndState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and ${timeType} &gt;#{t1} and ${timeType} &lt;#{t2}
        and audit_state= #{state}
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndProcessedAndTimeAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and ${timeType} &gt; #{t1}
          and ${timeType} &lt; #{t2}
          and audit_state in ("通过", "驳回")
    </select>
    <select id="queryWorksByMIdAndProcessedAndTimeAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and ${timeType} &gt;#{t1} and ${timeType} &lt;#{t2}
        and audit_state in ("通过","驳回")
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndProcessedAndHandlePersonAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and handle_person like "%"#{handlePerson}"%"
          and audit_state in ("通过"
            ,"驳回")
    </select>
    <select id="queryWorksByMIdAndProcessedAndHandlePersonAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and handle_person like "%"#{handlePerson}"%"
        and audit_state in ("通过","驳回")
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndProcessedAndUserTypeAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and user_type = #{userType}
          and audit_state in ("通过", "驳回")
    </select>
    <select id="queryWorksByMIdAndProcessedAndUserTypeAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and user_type =#{userType}
        and audit_state in ("通过","驳回")
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndProcessedAndRealNameAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and real_name like "%"#{realName}"%"
          and audit_state in ("通过"
            ,"驳回")
    </select>
    <select id="queryWorksByMIdAndProcessedAndRealNameAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and real_name like "%"#{realName}"%"
        and audit_state in ("通过","驳回")
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndProcessedAndNicknameAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id = #{aId}
          and nickname like "%"#{nickname}"%"
          and audit_state in ("通过"
            ,"驳回")
    </select>
    <select id="queryWorksByMIdAndProcessedAndNicknameAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and nickname like "%"#{nickname}"%"
        and audit_state in ("通过","驳回")
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorksByMIdAndProcessedAndOrderTypeAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id=#{aId}
        and order_type=#{orderType}
        and audit_state in ("通过","驳回")
    </select>
    <select id="queryWorksByMIdAndProcessedAndOrderTypeAndAllState" resultMap="authenticationWork">
        select
        <include refid="authenticationWorkInfo"/>
        from authentication_work_info
        where auditor_id=#{aId}
        and order_type=#{orderType}
        and audit_state in ("通过","驳回")
        order by ${time} ${sort}
        limit #{num1}
        ,#{num2}
    </select>

    <select id="queryTotalNumberForWorkByMIdAndProcessedAndUserIdAndAllState" resultType="java.lang.Integer">
        select
            count(*)
        from authentication_work_info
        where auditor_id=#{aId}
          and user_id=#{userId}
          and audit_state in ("通过","驳回")
    </select>
    <select id="queryWorkByMIdAndProcessedAndUserIdAndAllState" resultMap="authenticationWork">
        select
            count(*)
        from authentication_work_info
        where auditor_id=#{aId}
          and user_id=#{userId}
          and audit_state in ("通过","驳回")
        order by ${time} ${sort}
                 limit #{num1}
                ,#{num2}
    </select>
</mapper>