<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzu.diting.mapper.ComplaintDistributionManagementInfoMapper">
    <resultMap id="ComplaintDistribution" type="com.zzu.diting.entity.ComplaintDistributionManagementInfoPO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="DISTRIBUTION_ID" property="distributionId" jdbcType="BIGINT"/>
        <result column="MANAGER_ID" property="managerId" jdbcType="BIGINT"/>
        <result column="RIGHT_TYPE" property="rightType" jdbcType="VARCHAR"/>
        <result column="NODE" property="node" jdbcType="VARCHAR"/>
        <result column="COMPLAINT_PLATFORM" property="complaintPlatform" jdbcType="VARCHAR"/>
        <result column="OPERATOR_NAME" property="operatorName" jdbcType="VARCHAR"/>
        <result column="DISTRIBUTION_NAME" property="distributionName" jdbcType="VARCHAR"/>
        <result column="GMT_CREATE" property="createTime" jdbcType="BIGINT"/>
        <result column="GMT_MODIFIED" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <select id="queryDistributionManagementInfoByRightTypeAndAll" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryDistributionManagementInfoByRightTypeAndComplaintPlatform" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and complaint_platform = #{complaintPlatform}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryDistributionManagementInfoByRightTypeAndNode" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and node = #{node}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryDistributionManagementInfoByRightTypeAndDistributionName" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and distribution_name like "%"#{distributionName}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryDistributionManagementInfoByRightTypeAndOperatorName" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and operator_name like "%"#{operatorName}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryDistributionManagementInfoByRightTypeAndTime" resultMap="ComplaintDistribution">
        select *
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and ${timeType} &gt; #{startTime}
          and ${timeType} &lt; #{endTime}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>
    <select id="getTotalNumberByRightType" resultType="java.lang.Integer">
        select count(*)
        from complaint_distribution_management_info
        where right_type = #{rightType}
    </select>

    <select id="getTotalNumberByRightTypeAndComplaintPlatform" resultType="java.lang.Integer">
        select count(*)
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and complaint_platform = #{complaintPlatform}
    </select>

    <select id="getTotalNumberByRightTypeAndNode" resultType="java.lang.Integer">
        select count(*)
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and node = #{node}
    </select>

    <select id="getTotalNumberByRightTypeAndDistributionName" resultType="java.lang.Integer">
        select count(*)
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and distribution_name like "%"#{distributionName}"%"
    </select>

    <select id="getTotalNumberByRightTypeAndOperatorName" resultType="java.lang.Integer">
        select count(*)
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and operator_name like "%"#{operatorName}"%"
    </select>

    <select id="getTotalNumberByRightTypeAndTime" resultType="java.lang.Integer">
        select count(*)
        from complaint_distribution_management_info
        where right_type = #{rightType}
          and ${timeType} &gt; #{startTime}
          and ${timeType} &lt; #{endTime}
    </select>
</mapper>