<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzu.diting.mappers.ComplaintsInfoMapper">
    <resultMap id="Complaints" type="com.zzu.diting.entity.ComplaintsInfo">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="MANAGER_ID" property="managerId" jdbcType="VARCHAR"/>
        <result column="COMPLAINT_PERSON" property="complaintPerson" jdbcType="VARCHAR"/>
        <result column="RIGHT_TYPE" property="rightType" jdbcType="VARCHAR"/>
        <result column="RIGHT_NAME" property="rightName" jdbcType="VARCHAR"/>
        <result column="COMPLAINT_NUMBER" property="complaintNumber" jdbcType="VARCHAR"/>
        <result column="PROCESSING" property="processing" jdbcType="VARCHAR"/>
        <result column="REMARK" property="remark" jdbcType="VARCHAR"/>
        <result column="COMPLAINT_PERSON_ID" property="complaintPersonId" jdbcType="BIGINT"/>
        <result column="RIGHT_ID" property="rightId" jdbcType="BIGINT"/>
        <result column="MANAGER_ID" property="managerId" jdbcType="VARCHAR"/>
        <result column="GMT_CREATE" property="createTime" jdbcType="BIGINT"/>
        <result column="GMT_MODIFIED" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="complaints">
        ID
        ,
        MANAGER_ID,
        COMPLAINT_PERSON,
        RIGHT_TYPE,
        RIGHT_NAME,
        COMPLAINT_NUMBER,
        PROCESSING,
        REMARK,
        GMT_CREATE,
        GMT_MODIFIED
    </sql>
    <insert id="insertComplaintsInfo" parameterType="com.zzu.diting.entity.ComplaintsInfo"
            useGeneratedKeys="true" keyProperty="id"
            databaseId="mysql">
        insert into complaints_info(MANAGER_ID,
                                    compalint_person_id,
                                    COMPLAINT_PERSON,
                                    RIGHT_TYPE,
                                    right_id,
                                    RIGHT_NAME,
                                    COMPLAINT_NUMBER,
                                    PROCESSING,
                                    REMARK,
                                    GMT_CREATE,
                                    GMT_MODIFIED)
        values (#{managerId}, #{complaintPersonId}, #{complaintPerson}, #{rightType}, #{rightId}, #{rightName},
                #{complaintNumber}, #{processing}, #{remark},
                #{createTime}, #{updateTime})
    </insert>
    <select id="queryTotalNumberForComplaintsAll" resultType="java.lang.Integer">
        select count(*)
        from complaints_info
        where manager_id = #{mId}
    </select>

    <select id="queryComplaintsAll" resultMap="Complaints">
        select *
        from complaints_info
        where manager_id = #{mId}
        order by ${time} ${sort}
                 limit #{num1}
                ,#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsByProcessing" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
        ]]>
    </select>

    <select id="queryComplaintsByProcessing" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByProcessingComplete" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
        ]]>
    </select>

    <select id="queryComplaintsByProcessingComplete" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryComplaintsByComId" resultMap="Complaints">
        select *
        from complaints_info
        where manager_id = #{mId}
          and id = #{cId}
    </select>

    <select id="queryTotalNumberForComplaintsByPersonAllPro" resultType="java.lang.Integer">
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and complaint_person like "%"#{person}"%"
    </select>

    <select id="queryComplaintsByPersonAllPro" resultMap="Complaints">
        select *
        from complaints_info
        where manager_id = #{mId}
          and complaint_person like "%"#{person}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsByPersonAndProcessing" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and complaint_person like "%"#{person}"%"
        ]]>
    </select>

    <select id="queryComplaintsByPersonAndProcessing" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and complaint_person like "%"#{person}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByPersonAndProcessComplete" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and complaint_person like "%"#{person}"%"
        ]]>
    </select>

    <select id="queryComplaintsByPersonAndProcessComplete" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and complaint_person like "%"#{person}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByListComplaintsIdAll" resultType="java.lang.Integer">
        select count(*)
        from complaints_info
        <where>manager_id = #{mId}
            and id in
            <foreach collection="ComIdList" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="queryComplaintsByListComplaintsIdAll" resultMap="Complaints">

        select *
        from complaints_info
        <where>manager_id = #{mId}
            and id in
            <foreach collection="ComIdList" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
            order by ${time} ${sort}
            limit #{num1},#{num2}
        </where>
    </select>

    <select id="queryTotalNumberForComplaintsByListComplaintsIdProcessing" resultType="java.lang.Integer">

        select count(*)
        from complaints_info
        <where>manager_id = #{mId}
            and processing &lt;1
            and id in
            <foreach collection="ComIdList" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="queryComplaintsByListComplaintsIdProcessing" resultMap="Complaints">

        select *
        from complaints_info
        <where>manager_id = #{mId}
            and processing &lt;1
            and id in
            <foreach collection="ComIdList" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
            order by ${time} ${sort}
            limit #{num1},#{num2}
        </where>
    </select>

    <select id="queryTotalNumberForComplaintsByListComplaintsIdComplete" resultType="java.lang.Integer">

        select count(*)
        from complaints_info
        <where>manager_id = #{mId}
            and processing = 1
            and id in
            <foreach collection="ComIdList" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
        </where>
    </select>

    <select id="queryComplaintsByListComplaintsIdComplete" resultMap="Complaints">

        select *
        from complaints_info
        <where>manager_id = #{mId}
            and processing = 1
            and id in
            <foreach collection="ComIdList" item="item" separator="," open="(" close=")" index="">
                #{item}
            </foreach>
            order by ${time} ${sort}
            limit #{num1},#{num2}
        </where>
    </select>

    <select id="queryTotalNumberComplaintsByComplaintTypeAll" resultType="java.lang.Integer">
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and right_type = #{complaintType}
    </select>

    <select id="queryComplaintsByComplaintTypeAll" resultMap="Complaints">
        select *
        from complaints_info
        where manager_id = #{mId}
          and right_type = #{complaintType}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsByComplaintTypeProcessing" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and right_type = #{complaintType}
        ]]>
    </select>

    <select id="queryComplaintsByComplaintTypeProcessing" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and right_type = #{complaintType}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByComplaintTypeComplete" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and right_type = #{complaintType}
        ]]>
    </select>

    <select id="queryComplaintsByComplaintTypeComplete" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and right_type = #{complaintType}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByRightNameAll" resultType="java.lang.Integer">
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and right_name like "%"#{rightName}"%"
    </select>

    <select id="queryComplaintsByRightNameAll" resultMap="Complaints">
        select *
        from complaints_info
        where manager_id = #{mId}
          and right_name like "%"#{rightName}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsByRightNameProcessing" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and right_name like "%"#{rightName}"%"
        ]]>
    </select>

    <select id="queryComplaintsByRightNameProcessing" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and right_name like "%"#{rightName}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByRightNameComplete" resultType="java.lang.Integer">
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and right_name like "%"#{rightName}"%"
    </select>

    <select id="queryComplaintsByRightNameComplete" resultMap="Complaints">
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and right_name like "%"#{rightName}"%"
        order by ${time} ${sort}
                 limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsByTimeAll" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and ${timeType} > #{startTime}
          and ${timeType} < #{endTime}
        ]]>
    </select>

    <select id="queryComplaintsByTimeAll" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and ${timeType} > #{startTime}
          and ${timeType} < #{endTime}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByTimeProcessing" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and ${timeType} > #{startTime}
          and ${timeType} < #{endTime}
        ]]>
    </select>

    <select id="queryComplaintsByTimeProcessing" resultMap="Complaints">
        <![CDATA[
        select *
        from complaints_info
        where manager_id = #{mId}
          and processing < 1
          and ${timeType} > #{startTime}
          and ${timeType} < #{endTime}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>

    <select id="queryTotalNumberForComplaintsByTimeComplete" resultType="java.lang.Integer">
        <![CDATA[
        select count(*)
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and ${timeType} > #{startTime}
          and ${timeType} < #{endTime}
        ]]>
    </select>

    <select id="queryComplaintsByTimeComplete" resultMap="Complaints">
        <![CDATA[
        select ID
                ,
               MANAGER_ID,
               COMPLAINT_PERSON,
               RIGHT_TYPE,
               RIGHT_NAME,
               COMPLAINT_NUMBER,
               PROCESSING,
               REMARK,
               GMT_CREATE,
               GMT_MODIFIED
        from complaints_info
        where manager_id = #{mId}
          and processing = 1
          and ${timeType} > #{startTime}
          and ${timeType} < #{endTime}
        order by ${time} ${sort}
                 limit #{num1},#{num2}
        ]]>
    </select>
</mapper>