<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzu.diting.mappers.ComplaintsWorkAllInfoMapper">
    <resultMap id="complaintsWork" type="com.zzu.diting.entity.ComplaintsWorkInfoPO">
        <id column="ID" property="id" jdbcType="BIGINT"/>
        <result column="COMPLAINTS_ID" property="complaintsId" jdbcType="BIGINT"/>
        <result column="COMPLAINT_PERSON_ID" property="complaintPersonId" jdbcType="BIGINT"/>
        <result column="HANDLE_PERSON_ID" property="handlePersonId" jdbcType="VARCHAR"/>
        <result column="HANDLE_PERSON_HANDLE" property="handlePersonHandle" jdbcType="VARCHAR"/>
        <result column="HANDLE_PERSON_HANDLE_Id" property="handlePersonHandleId" jdbcType="VARCHAR"/>
        <result column="HANDLE_PERSON_ID" property="handlePersonId" jdbcType="VARCHAR"/>
        <result column="INFO_SOURCE" property="infoSource" jdbcType="VARCHAR"/>
        <result column="COMPLAINT_PERSON" property="complaintPerson" jdbcType="VARCHAR"/>
        <result column="RELATION_RIGHT" property="relationRight" jdbcType="VARCHAR"/>
        <result column="RIGHT_TYPE" property="complaintType" jdbcType="VARCHAR"/>
        <result column="COMPLAINT_NUMBER" property="complaintNumber" jdbcType="VARCHAR"/>
        <result column="NODE" property="node" jdbcType="VARCHAR"/>
        <result column="PROCESSING" property="processing" jdbcType="VARCHAR"/>
        <result column="PROCESSING_TWO" property="processingTwo" jdbcType="VARCHAR"/>
        <result column="HANDLE_PERSON" property="handlePerson" jdbcType="VARCHAR"/>
        <result column="HANDLE_RECORD" property="handleRecord" jdbcType="VARCHAR"/>
        <result column="GMT_CREATE" property="createTime" jdbcType="BIGINT"/>
        <result column="GMT_MODIFIED" property="updateTime" jdbcType="BIGINT"/>
    </resultMap>
    <sql id="complaintsWorkInfo">
        ID
        ,
        COMPLAINT_PERSON,
        RIGHT_TYPE,
        RELATION_RIGHT,
        COMPLAINT_NUMBER,
        PROCESSING,
        PROCESSING_TWO
        NODE,
        HANDLE_PERSON,
        GMT_CREATE,
        GMT_MODIFIED
    </sql>

    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type =
              #{rightType}
    </select>

    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{rightType}
        order by ${timeType} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where processing &lt; 1
          and right_type = #{rightType}
    </select>

    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where processing &lt;1
        and right_type=#{rightType}
        order by ${timeType} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where processing=1
        and right_type=#{rightType}
        order by ${timeType} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where node = #{node}
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where node=#{node}
        and right_type=#{rightType}
        order by ${timeType} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="totalNumberForComplaintsWorkAllByOneNodeAndPendingAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where node = #{node}
          and right_type = #{rightType}
          and processing &lt; 1
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where node=#{node}
        and right_type=#{rightType}
        and processing &lt; 1
        order by ${timeType} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="totalNumberForComplaintsWorkAllByOneNodeAndProcessedAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where node = #{node}
          and processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where node=#{node}
        and processing=1
        and right_type=#{rightType}
        order by ${timeType} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndWorkIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndWorkIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndWorkIdsAndType"
            resultType="java.lang.Integer">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in
        (
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndWorkIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in
        (
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndWorksIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndWorksIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndWorksIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and node=#{node}
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndWorksIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndPendingAndWorksIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and node=#{node}
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndWorksIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndProcessedAndWorksIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and node=#{node}
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndWorksIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndCommentIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndCommentIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndCommentIdsAndType"
            resultType="java.lang.Integer">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in
        (
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndCommentIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in
        (
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndCommentIdsAndType"
            resultMap="complaintsWork">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndCommentIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndCommentIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and node=#{node}
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndCommentIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndPendingAndCommentIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and node=#{node}
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndCommentIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing &lt; 1
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsComplaintsWorkAllByOneNodeAndProcessedAndCommentIdsAndType"
            resultType="java.lang.Integer">
        select
        count(*)
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and node=#{node}
        and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndCommentIdsAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where id in(
        select complaints_work_id from complaint_work_info where complaint_work_info.comment_id in  <foreach
            collection="ids" item="item" separator="," open="(" close=")" index="">
        #{item}</foreach>)
        and processing=1
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>


    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndComplaintPersonAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
            and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndComplaintPersonAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndComplaintPersonAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
            and processing &lt; 1
            and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndComplaintPersonAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndComplaintPersonAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
            and processing=1
            and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndComplaintPersonAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
        and processing=1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndComplaintPersonAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
            and node=#{node}
            and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndComplaintPersonAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndPendingAndComplaintPersonAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
            and node=#{node}
            and processing &lt; 1
            and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndComplaintPersonAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
        and node=#{node}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndProcessedAndComplaintPersonAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
            and node=#{node}
            and processing = 1
            and right_type=#{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndComplaintPersonAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where complaint_person like "%"#{complaintPerson}"%"
        and node=#{node}
        and processing = 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>


    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndComplaintTypeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type = #{ComplaintType}
        order by ${time} ${sort}
    </select>
    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndComplaintTypeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{ComplaintType}
        order by ${time} ${sort}
        and right_type=#{rightType}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndComplaintTypeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type = #{ComplaintType}
          and processing &lt; 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndComplaintTypeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{ComplaintType}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndComplaintTypeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type = #{ComplaintType}
          and processing = 1
          and right_type = #{rightType}
    </select>

    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndComplaintTypeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{ComplaintType}
        and processing=1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndComplaintTypeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type = #{ComplaintType}
          and node = #{node}
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndComplaintTypeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{ComplaintType}
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndPendingAndComplaintTypeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type = #{ComplaintType}
          and node = #{node}
          and processing &lt; 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndComplaintTypeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{ComplaintType}
        and node=#{node}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndProcessedAndComplaintTypeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where right_type = #{ComplaintType}
          and node = #{node}
          and processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndComplaintTypeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where right_type=#{ComplaintType}
        and node=#{node}
        and processing = 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndRelationRightAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where relation_right = #{relationRight}
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndRelationRightAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where relation_right=#{relationRight}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndRelationRightAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where relation_right = #{relationRight}
          and processing &lt; 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndRelationRightAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where relation_right=#{relationRight}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndRelationRightAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where relation_right = #{relationRight}
          and processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndRelationRightAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where relation_right=#{relationRight}
        and processing=1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndRelationRightAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where relation_right = #{relationRight}
          and node = #{node}
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndRelationRightAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where relation_right=#{relationRight}
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndPendingAndRelationRightAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where relation_right = #{relationRight}
          and node = #{node}
          and processing &lt; 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndRelationRightAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where relation_right=#{relationRight}
        and node=#{node}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndProcessedAndRelationRightAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where relation_right = #{relationRight}
          and node = #{node}
          and processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndRelationRightAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where relation_right=#{relationRight}
        and node=#{node}
        and processing = 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>


    <select id="queryTotalNumberForComplaintsWorkAllAndAllNodeAndAllProcessingAndTimeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where ${time}
            &gt; #{startTime}
          and ${time}
            &lt;
              #{endTime}
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllAndAllNodeAndAllProcessingAndTimeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where ${time}
        &gt; #{startTime}
        and ${time}
        &lt;
        #{endTime}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndPendingAndTimeAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where ${time}
            &gt; #{startTime}
          and ${time}
            &lt;
              #{endTime}
          and processing &lt; 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndPendingAndTimeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where ${time}
        &gt; #{startTime}
        and ${time}
        &lt;
        #{endTime}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByAllNodeAndProcessedAndTimeAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where ${time}
            &gt; #{startTime}
          and ${time}
            &lt;
              #{endTime}
          and processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByAllNodeAndProcessedAndTimeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where ${time}
        &gt; #{startTime}
        and ${time}
        &lt;
        #{endTime}
        and processing=1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndAllProcessingAndTimeAndType"
            resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where ${time}
            &gt; #{startTime}
          and ${time}
            &lt;
              #{endTime}
          and node = #{node}
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndAllProcessingAndTimeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where ${time}
        &gt; #{startTime}
        and ${time}
        &lt;
        #{endTime}
        and node=#{node}
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndPendingAndTimeAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where ${time}
            &gt; #{startTime}
          and ${time}
            &lt;
              #{endTime}
          and node = #{node}
          and processing &lt; 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndPendingAndTimeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where ${time}
        &gt; #{startTime}
        and ${time}
        &lt;
        #{endTime}
        and node=#{node}
        and processing &lt; 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>

    <select id="queryTotalNumberForComplaintsWorkAllByOneNodeAndProcessedAndTimeAndType" resultType="java.lang.Integer">
        select
            count(*)
        from complaints_work_info
        where ${time}
            &gt; #{startTime}
          and ${time}
            &lt;
              #{endTime}
          and node = #{node}
          and processing = 1
          and right_type = #{rightType}
    </select>
    <select id="queryComplaintsWorkAllByOneNodeAndProcessedAndTimeAndType" resultMap="complaintsWork">
        select
        <include refid="complaintsWorkInfo"/>
        from complaints_work_info
        where ${time}
        &gt; #{startTime}
        and ${time}
        &lt;
        #{endTime}
        and node=#{node}
        and processing = 1
        and right_type=#{rightType}
        order by ${time} ${sort}
        limit #{num1},#{num2}
    </select>
</mapper>